<html>
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>

 
</head>
<body>
 
    <iframe src="{% url 'video_feed' %}" style="border:2px solid red;"></iframe>
    <iframe src="{% url 'webcam_feed' %}" style="border:2px solid red;"></iframe>

</body>
</html>